<!DOCTYPE html>
<html>
  <head>
    <title>Chat Screen</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-header">
        <h3>Chat</h3>
      </div>
      <div class="chat-messages" id="mylist">
        <!-- messages will be dynamically added here -->
      </div>
      <div class="chat-input">
        <input type="text" placeholder="Type a message...">
        <button>Send</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
